<div class="step step1 d-none"  data-edit-step-target="step1">
  <div class="step-content">
      <%= f.simple_fields_for :user do |user_form| %>
        <div class="row-flex">

            <div class= "flex1">
              <div class="form-label-input">
                <%= user_form.input :first_name, label: "Prénom",  input_html: { value: @user.first_name, data: {progress_bar_target: "input5", action: "progress-bar#fifth_input"} } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :last_name, label: "Nom",  input_html: { value: @user.last_name, data: {progress_bar_target: "input6", action: "progress-bar#sixth_input"} } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :birthday, as: :date,
                            start_year: @user.birthday.try(:year) || Date.today.year - 30,
                            end_year: Date.today.year - 18,
                            default: { day: @user.birthday.try(:day) || Date.today.day, month: @user.birthday.try(:month) || Date.today.month, year: @user.birthday.try(:year) || Date.today.year - 30 },
                            order: [:day, :month, :year],
                            label: "Date de naissance", input_html: { data: {progress_bar_target: "input7", action: "progress-bar#seventh_input"} } %>
              </div>
            </div>
            <div class="flex2">
              <div class="form-label-input">
                <%= user_form.input :email, label: "Adresse mail",  input_html: { value: @user.email, data: {progress_bar_target: "input8", action: "progress-bar#eighth_input"} } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :email, label: "Genre", collection: User.genders.values,
                default: @user.gender,
                input_html: { class: 'custom-select', data: {progress_bar_target: "input9", action: "progress-bar#ninth_input"} } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :nationality, label: "Nationalité",  input_html: { value: @user.nationality, data: {progress_bar_target: "input10", action: "progress-bar#tenth_input"} } %>
              </div>
            </div>
            <div class="flex3">
                <div class="form-label-input">
                  <%= user_form.input :occupation, label: "Profession",  input_html: { value: @user.occupation, data: {progress_bar_target: "input11", action: "progress-bar#eleventh_input"} } %>
                </div>
                <div class="form-label-input">
                  <%= user_form.input :address, label: "Adresse",  input_html: { value: @user.address, data: {progress_bar_target: "input12", action: "progress-bar#twelfth_input"} } %>
                </div>
                <div class="form-label-input">
                  <%= user_form.input :social_security, label: "N° sécurité sociale",  input_html: { value: @user.social_security, data: {progress_bar_target: "input13", action: "progress-bar#thirteenth_input"} } %>
                </div>
            </div>

        </div>

      <% end %>
  </div>
  <div class="navigation">
    <button  class="btn secondary btn-medium"  type="button" data-action="click->edit-step#previous">Précédent</button>
    <button  class="btn btn-medium"  type="button" data-action="click->edit-step#next">Suivant</button>
  </div>
</div>
