<div class="reminder-container">
  <div class="section">
    <div class="section-content">
    <h3 class="bold-xxl text-center mb-2">Mes rappels</h3>
    <div class="kanban">
      <% Reminder::STATUS.each do |status| %>
        <div class="<%= "cards-container #{status.parameterize(separator: '-')}" %>">
          <div class="cards-header">
            <div class="cards-header ellipse1"></div>
            <h5 class="bold-m"><%= status %></h5>
            <div class="cards-header count"></div>
          </div>

          <div class="divider1"></div>

          <% @reminders.select { |reminder| reminder.status == status }.each do |reminder| %>
            <div class="text-center<%= " mb-3 Card  #{status.parameterize(separator: '-')}" %>">
              <h6 class="Card__title"><%= link_to reminder.title, reminder_path(reminder) %></h6>
              <div class="Card__body">
                  <%# <p class="Card__body-text"><%= reminder.description %>
                <div class="Card__body-block">
                  <% if reminder.my_guide.present? && reminder.my_guide.article.present? %>
                  <div class="Card__body-header">
                    <div class="Card__body-icon">
                      <%= image_tag 'book-open.svg', class: 'Card__body-icon--book' %>
                    </div>
                    <h5 class="Card__body-text--semi-bold">Article associé</h5>
                  </div>
                    <p class="regular-s"><%= reminder.my_guide.article.title %></p>
                  <% else %>
                    <p class="regular-s">Article associé non trouvé</p>
                  <% end %>
                </div>
                <div class="Card__body-header">
                    <div class="Card__body-icon">
                      <%= image_tag 'Clock.svg', class: 'Card__body-icon--book' %>
                    </div>
                  <% days_left = (reminder.end_time.to_date - Date.today).to_i %>
                  <% if days_left > 0 %>
                    <p class="Card__body-text--semi-bold"><small class="text-muted">Jours restants: <%= days_left %> jours</small></p>
                  <% elsif days_left == 0 %>
                    <p class="Card__body-text--semi-bold"><small class="text-muted">Jours restants: Dernier jour !</small></p>
                  <% else %>
                    <p class="Card__body-text--semi-bold"><small class="text-muted">Jours restants: 0</small></p>
                  <% end %>
                </div>
                <div class="Card__body-form">
                  <% if reminder.my_guide.present? %>
                    <div class="Card__body-header">
                      <div class="Card__body-icon">
                        <%= image_tag 'external-link.svg', class: 'Card__body-icon--book' %>
                      </div>
                        <h5 class="bold-m"><%= link_to 'Mon formulaire',summary_my_guide_path(@my_guide) %></h5>
                    </div>

                  <% end %>
                </div>
              </div>

              <div class="dropdown">
                <button class=" dropdown-toggle <%= "btn btn-small #{reminder.status.parameterize(separator: '-')}" %>" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= reminder.status %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <% Reminder::STATUS.each do |status| %>
                    <li><a class="dropdown-item" href="#">
                    <%= link_to status, reminder_path(reminder, 'reminder[status]': status),
                      data: { turbo_method: :patch },
                      class: "dropdown-item" %>
                    </a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
