<%# app/views/reminders/index.html.erb %>
<div class="container reminder-container">
  <% Reminder::STATUS.each do |status| %>
    <div class="row section">
      <div class="section-content">
        <div class="kanban">
          <div class="cards-container <%= status.parameterize(separator: '-') %>">
            <div class="cards-header">
              <div class="cards-header ellipse1" style="background: <%= status_color(status) %>;"></div>
              <h5 class="bold-xl"><%= status.humanize %></h5>
              <div class="cards-header-count">
                <%= @reminders.select { |r| r.status == status }.count %>
              </div>
            </div>

            <div class="divider1"></div>

            <% @reminders.select { |reminder| reminder.status == status }.first(3).each do |reminder| %>
              <div class="card <%= status.parameterize(separator: '-') %> mb-3">
                <h6 class="card__title"><%= link_to reminder.title, reminder_path(reminder) %></h6>
                <div class="card__body">
                  <% if reminder.my_guide.present? && reminder.my_guide.article.present? %>
                    <div class="card__body-block">
                      <div class="Card__body-header">
                        <%= image_tag 'book-open.svg', class: 'Card__body-icon--book' %>
                        <h5 class="Card__body-text--semi-bold">Article associé</h5>
                      </div>
                      <p class="regular-s"><%= reminder.my_guide.article.title %></p>
                    </div>
                  <% else %>
                    <p class="regular-s">Article associé non trouvé</p>
                  <% end %>

                  <div class="Card__body-header">
                    <%= image_tag 'Clock.svg', class: 'Card__body-icon--book' %>
                    <% days_left = (reminder.end_time.to_date - Date.today).to_i %>
                    <p class="Card__body-text--semi-bold"><small class="text-muted">Jours restants: <%= days_left %> jours</small></p>
                  </div>

                  <% if reminder.my_guide.present? %>
                    <div class="Card__body-form">
                      <%= image_tag 'external-link.svg', class: 'Card__body-icon--book' %>
                      <h5 class="bold-m"><%= link_to 'Mon formulaire', summary_my_guide_path(reminder.my_guide) %></h5>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if @reminders.select { |reminder| reminder.status == status }.size > 3 %>
              <div data-controller="togglekanban" class="mt-5">
                <button data-action="click->togglekanban#fire" class="btn btn-outline-primary">Voir plus</button>
                <div data-togglekanban-target="togglableElement" class="d-none">

                    <%= render "reminders/reminder", reminders: @reminders %>

                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
