<!-- _reminder.html.erb -->

<% Reminder::STATUS.each do |status| %>
  <% @reminders.select { |reminder| reminder.status == status }.drop(3).each do |reminder| %>
    <div class="card-kanban <%= status.parameterize(separator: '-') %> mb-3">
      <h6 class="card-kanban__title"><%= link_to reminder.title, reminder_path(reminder) %></h6>
      <div class="card-kanban__body">
        <% if reminder.my_guide.present? && reminder.my_guide.article.present? %>
          <h5 class="regular-l text-overflow-ellipses"><i class="fa-regular fa-file-lines me-2"></i><%= reminder.my_guide.article.title %></h5>
        <% else %>
          <p class="regular-s">Article associé non trouvé</p>
        <% end %>

        <div>
          <% days_left = (reminder.end_time.to_date - Date.today).to_i %>
          <h5 class="regular-l"><i class="fa-regular fa-clock me-2"></i>Jours restants: <strong><%= days_left %> jours</strong></h5>
        </div>

        <% if reminder.my_guide.present? %>
            <h5 class="regular-l"><i class="fa-solid fa-arrow-up-right-from-square me-2"></i><%= link_to 'Mon formulaire', summary_my_guide_path(reminder.my_guide) %></h5>
        <% end %>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle <%= "dropdown-tasks #{reminder.status.parameterize(separator: '-')}" %>" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= reminder.status %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% Reminder::STATUS.each do |status| %>
            <li><a class="dropdown-item" href="#">
            <%= link_to status, reminder_path(reminder, 'reminder[status]': status),
              data: { turbo_method: :patch },
              class: "dropdown-item" %>

            </a></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
