<!-- app/views/reminders/show.html.erb -->
<div class="row justify-content-center mt-3 py-5">

  <div class="col-md-8">
    <div class="card border-primary">
      <h1 class="bold-xxl text-center mb-2">Détails du rappel</h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Titre :</strong> <%= @reminder.title %></li>
        <li class="list-group-item"><strong>Description :</strong> <%= @reminder.description %></li>
        <li class="list-group-item"><strong>URL :</strong> <%= link_to @reminder.url, @reminder.url unless @reminder.url.blank? %></li>
        <li class="list-group-item"><strong>Status :</strong> <%= t(@reminder.status) %></li>
        <li class="list-group-item"><strong>Heure de début :</strong> <%= @reminder.start_time.strftime('%Y-%m-%d %H:%M') %></li>
        <li class="list-group-item"><strong>Heure de fin :</strong> <%= @reminder.end_time.strftime('%Y-%m-%d %H:%M') %></li>
      </ul>
    </div>
    <div class="text-center py-4">
      <%= link_to 'Éditer', edit_reminder_path(@reminder), class: 'btn btn-small me-2' %>
      <%= link_to 'Retourner sur le profil', user_path(@user), class: 'btn btn-small outline-purple' %>
    </div>
  </div>
</div>
