<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @article.title %></title>
    <meta name="description" content="<%= @article.description %>">
  </head>

  <body>
    <div class="container-home">
      <div class="section">
        <h1 class="title"><%= @article.title %></h1>
        <p class="subtitle"><%= @article.description %></p>
        <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill if @article.photo.attached? %>
        <p><%= @article.paragraph1.html_safe? %> <!-- This will render the HTML content of the article --></p>
      </div>
      <div class="container py-5">
        <div data-controller="insert-button" data-article-id="<%= @article.id %>">
          <div data-insert-button-target="content">
            <% if @article.raw_html_content.present? %>
              <%= process_raw_html_content(@article.raw_html_content)%>
            <% end %>
          </div>

        </div>


        <h2>Aller plus loin</h2>

        <% if @article.additional_resources_1_listing.present? %>

          <!-- Plateformes additional_resources_1 -->
          <div class="mt-5">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#toggleResources1" aria-expanded="false" aria-controls="toggleResources1">
            <%= @article.additional_resources_1 %>
            </button>
            <div class="collapse" id="toggleResources1">
              <div class="card-article">
               <% @article.additional_resources_1_listing.each do |platform| %>
                  <div class="d-flex align-items-center mb-3">
                    <%= link_to platform.url, class: "navbar-brand me-3", target: "_blank" do %>
                      <% if platform.photo.attached? %>
                        <img src="<%= cl_image_tag platform.photo.key %>" alt="<%= platform.name %> logo" style="height: 67px; width: 67px; object-fit: cover">
                      <% else %>
                        <%= image_tag "brand_logo.svg", height: 67, width: 67 %>
                      <% end %>
                    <% end %>
                    <p><strong><%= platform.name %></strong> <%= platform.description %></p>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        <% end %>

        <% if @article.additional_resources_2_listing.present? %>
          <!-- Plateformes additional_resources_2 -->
          <div class="mt-5">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#toggleResources2" aria-expanded="false" aria-controls="toggleResources2">
            <%= @article.additional_resources_2 %>
            </button>
            <div class="collapse" id="toggleResources2">
              <div class="card-article">
               <% @article.additional_resources_2_listing.each do |platform| %>
                  <div class="d-flex align-items-center mb-3">
                    <%= link_to platform.url, class: "navbar-brand me-3", target: "_blank" do %>
                      <% if platform.photo.attached? %>
                        <img src="<%= cl_image_tag platform.photo.key %>" alt="<%= platform.name %> logo" style="height: 67px; width: 67px; object-fit: cover">
                      <% else %>
                        <%= image_tag "brand_logo.svg", height: 67, width: 67 %>
                      <% end %>
                    <% end %>
                    <p><strong><%= platform.name %></strong> <%= platform.description %></p>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        <% end %>

      </div>
      <div class="hstack gap-3 justify-content-center mt-5">
        <%= link_to "ðŸ“ Ã‰diter",edit_article_path(@article), role: 'button', class: 'btn btn-small' if policy(@article).edit? %>
        <div class="vr"></div>
        <%= button_to "Supprimer cet article", @article, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn btn-small' if policy(@article).destroy? %>
      </div>
      <div>
        <%= link_to 'Retour', :back, class: 'btn btn-small' %>
      </div>
    </div>
  </body>
</html>
