<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrownUp Hack Homepage</title>
  </head>

  <body>
    <div class="container3">
      <div class="menu">
        <div class="menu-icon">
          <%= image_tag "home.png", style: "width: 24px; height: 24px; padding-bottom: 6px;" %>
         </div>
        <div class="menu-text">Home/categories/subcategories</div>
      </div>

      <div>
        <div class="gh_section" style="padding-bottom: 30px; padding-top: 100px">
          <h1>Se lancer en freelance</h1>
        </div>

        <div class="subtitle" style="margin: 0px 150px 30px 150px">Le statut de freelance offre une approche simplifiée pour démarrer une activité indépendante. Ce statut présente des avantages tels qu'une gestion administrative légère, une fiscalité simplifiée et des cotisations sociales basées sur le chiffre d'affaires. C'est une option idéale pour les débutants ou ceux travaillant à temps partiel.
        </div>
      </div>

      <div class="container3">
        <div class="title1">
            <h1 style="font-size: 30px;">Lorsque tu es freelance, tu as plusieurs options pour la structure juridique de ton activité. Voici quelques options courantes </h1>
        </div>

        <div class="content1">
          <ul>
            <li><strong>Micro-entreprise</strong> (ou auto-entreprise) : C'est une forme simplifiée d'entreprise individuelle, souvent utilisée par les freelances. Tu bénéficies de formalités administratives allégées, d'une comptabilité simplifiée et paies des impôts et des cotisations sociales sur la base de ton chiffre d'affaires réel.</li>
            <li><strong>Entreprise Individuelle :</strong> C’est la forme la plus simple et la plus courante pour démarrer en tant que freelance. Tu es considéré comme une seule entité avec ton entreprise et es responsable de toutes les dettes et obligations commerciales. Les revenus de l'entreprise sont inclus dans ta déclaration de revenus personnelle.</li>
            <li><strong>Entreprise Individuelle à Responsabilité Limitée (EIRL) :</strong> Cela te permet de séparer ton patrimoine personnel de celui de ton entreprise, ce qui protège tes biens personnels en cas de difficultés financières de ton entreprise.</li>
            <li><strong>Société par Actions Simplifiée Unipersonnelle (SASU) :</strong> C'est une forme de société plus complexe où tu es le seul actionnaire. Cela offre une responsabilité limitée, mais implique des formalités administratives et comptables plus complexes.</li>
            <li><strong>Société à Responsabilité Limitée (SARL) :</strong> Tu peux créer une SARL en tant que freelance si tu as l'intention de travailler avec d'autres personnes. Cela offre une responsabilité limitée et une séparation des actifs personnels et professionnels, mais implique également des formalités plus lourdes.</li>
            <li><strong>Le portage salarial</strong> est une option pour les personnes qui veulent exercer une activité indépendante sans créer leur propre entreprise. Elles travaillent comme consultants ou prestataires de services pour une entreprise de portage salarial. Cette entreprise facture les clients pour les services fournis par ces consultants et leur verse un salaire en tant que salariés. Cela permet aux entrepreneurs de bénéficier des avantages du statut de salarié tout en conservant une certaine autonomie dans leur travail.</li>
          </ul>
        </div>

        <div class="title1">
            <h1 style="font-size: 40px;">Conclusion</h1>
        </div>

       <div class="content1">
            Pour ceux qui envisagent de devenir freelances, la meilleure option est souvent de choisir le statut d'auto-entrepreneur. C'est un choix populaire en raison de sa simplicité administrative, de sa faible charge fiscale et de la protection des biens personnels en cas de difficultés financières. C'est un excellent point de départ pour tester une activité ou démarrer une petite entreprise. Il est important de bien comprendre les implications des différents statuts en discutant avec d'autres auto-entrepreneurs expérimentés ou en recherchant des informations supplémentaires auprès d'organismes publics spécialisés tels que le site officiel du gouvernement dédié à l'entrepreneuriat en France (https://entreprendre.service-public.fr/).
        </div>


        <div class="title1">
            <h2 style="font-size: 24px; font-weight: bold">Avant de commencer les démarches, vérifie que tu disposes des documents. <br> Tu en auras besoin pour remplir ton formulaire</h2>
        </div>

        <div class="checkbox">
          <ul class="list-group list-group-item-light">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Récépissé de dépôt de déclaration préalable délivré par la Préfecture (étranger ne résidant pas en France)
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Attestation de renonciation à la protection du patrimoine personnel
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Attestation notariée relative à l’insaisissabilité ou à la renonciation de l'insaisissabilité de la résidence principale 
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Procuration signée de la personne pour le compte de laquelle le mandataire effectue la formalité
            </li>
          </ul>
        </div>
        <div style="padding: 20px">
          <%= link_to 'Commencer mes démarches', new_article_my_guide_path(article_id: @article.id), class: 'btn btn-small' %>
        </div>
      </div>





    </div>

    <div class="container3">
        <div class="title1">
            <h1 style="font-size: 40px;">II. Les plateformes de freelances</h1>
        </div>

        <div class="align">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "brand_logo.svg", style: "width: 67px;" %>
        <% end %>
        <p>ooooo</p>
        </div>
        <div class="content1">
            GitHub is a web-based platform for version control and collaboration, allowing developers to store, manage, and track changes to their code projects using Git. It facilitates team collaboration by providing tools for reviewing code, managing projects, and hosting documentation, making it an essential resource for individual programmers and large teams alike.
        </div>

        <div class="align">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "brand_logo.svg", style: "width: 67px;" %>
        <% end %>
        <p>ooooo</p>
        </div>
        <div class="content1">
            GitHub is a web-based platform for version control and collaboration, allowing developers to store, manage, and track changes to their code projects using Git. It facilitates team collaboration by providing tools for reviewing code, managing projects, and hosting documentation, making it an essential resource for individual programmers and large teams alike.
        </div>

        <div class="align">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "brand_logo.svg", style: "width: 67px;" %>
        <% end %>
        <p>ooooo</p>
        </div>
        <div class="content1">
            GitHub is a web-based platform for version control and collaboration, allowing developers to store, manage, and track changes to their code projects using Git. It facilitates team collaboration by providing tools for reviewing code, managing projects, and hosting documentation, making it an essential resource for individual programmers and large teams alike.
        </div>
      </div>



    <%= link_to 'Éditer', edit_article_path(@article), class: 'btn btn-small outline', style: 'background-color: $gh-purple'  %>
    <%= button_to "Supprimer cet article", @article, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-small danger'%>

  </body>
