<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrownUp Hack Homepage</title>
  </head>

  <body>
    <div class="container3">
      <div class="menu">
        <div class="menu-icon">
          <%= image_tag "home.png", style: "width: 24px; height: 24px; padding-bottom: 6px;" %>
         </div>
        <div class="menu-text">Home/categories/subcategories</div>
      </div>

      <div>
        <div class="gh_section" style="padding-bottom: 30px; padding-top: 100px">
          <h1>Se lancer en freelance</h1>
        </div>

        <div class="subtitle" style="margin: 0px 150px 30px 150px">Le statut de freelance offre une approche simplifiée pour démarrer une activité indépendante. Ce statut présente des avantages tels qu'une gestion administrative légère, une fiscalité simplifiée et des cotisations sociales basées sur le chiffre d'affaires. C'est une option idéale pour les débutants ou ceux travaillant à temps partiel.
        </div>
      </div>

      <div class="container3">
        <div class="title1">
            <h1 style="font-size: 30px;">Première étape : choisis ta structure juridique de ton activité : </h1>
        </div>

        <div class="content1">
          <ul>
            <strong>Entrepreneur individuel</strong><br>
            <li>
            <strong>Micro-entreprise</strong> (ou auto-entreprise) : C'est une forme simplifiée d'entreprise individuelle, souvent utilisée par les freelances. Tu bénéficies de formalités administratives allégées, d'une comptabilité simplifiée et paies des impôts et des cotisations sociales sur la base de ton chiffre d'affaires réel.</li>
            <li><strong>Entreprise Individuelle :</strong> C’est la forme la plus simple et la plus courante pour démarrer en tant que freelance. Tu es considéré comme une seule entité avec ton entreprise et es responsable de toutes les dettes et obligations commerciales. Les revenus de l'entreprise sont inclus dans ta déclaration de revenus personnelle.</li>
            <li><strong>Entreprise Individuelle à Responsabilité Limitée (EIRL) :</strong> Cela te permet de séparer ton patrimoine personnel de celui de ton entreprise, ce qui protège tes biens personnels en cas de difficultés financières de ton entreprise.</li>
            <br>

            <strong>Personne morale</strong>
            <br>
            <li><strong>Société par Actions Simplifiée Unipersonnelle (SASU) :</strong> C'est une forme de société plus complexe où tu es le seul actionnaire. Cela offre une responsabilité limitée, mais implique des formalités administratives et comptables plus complexes.</li>
            <li><strong>Société à Responsabilité Limitée (SARL) :</strong> Tu peux créer une SARL en tant que freelance si tu as l'intention de travailler avec d'autres personnes. Cela offre une responsabilité limitée et une séparation des actifs personnels et professionnels, mais implique également des formalités plus lourdes.</li>
            <!-- Ligne vide -->

            <br>
            <strong>Exploitation en commun</strong>
            <br>
            <li><strong>Le portage salarial</strong> est une option pour les personnes qui veulent exercer une activité indépendante sans créer leur propre entreprise. Elles travaillent comme consultants ou prestataires de services pour une entreprise de portage salarial. Cette entreprise facture les clients pour les services fournis par ces consultants et leur verse un salaire en tant que salariés. Cela permet aux entrepreneurs de bénéficier des avantages du statut de salarié tout en conservant une certaine autonomie dans leur travail.</li>
          </ul>
        </div>

        <div class="title1">
            <h1 style="font-size: 40px;">Conclusion</h1>
        </div>

       <div class="content1">
            Pour ceux qui envisagent de devenir freelances, la meilleure option est souvent de choisir le statut d'auto-entrepreneur. C'est un choix populaire en raison de sa simplicité administrative, de sa faible charge fiscale et de la protection des biens personnels en cas de difficultés financières. C'est un excellent point de départ pour tester une activité ou démarrer une petite entreprise. Il est important de bien comprendre les implications des différents statuts en discutant avec d'autres auto-entrepreneurs expérimentés ou en recherchant des informations supplémentaires auprès d'organismes publics spécialisés tels que le site officiel du gouvernement dédié à l'entrepreneuriat en France (https://entreprendre.service-public.fr/).
        </div>


        <div class="title1">
            <h2 style="font-size: 24px; font-weight: bold">Avant de commencer les démarches, vérifie que tu disposes des documents. <br> Tu en auras besoin pour remplir ton formulaire</h2>
        </div>

        <div class="checkbox">
          <ul class="list-group list-group-item-light">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Récépissé de dépôt de déclaration préalable délivré par la Préfecture (étranger ne résidant pas en France)
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Attestation de renonciation à la protection du patrimoine personnel
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Attestation notariée relative à l’insaisissabilité ou à la renonciation de l'insaisissabilité de la résidence principale 
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Procuration signée de la personne pour le compte de laquelle le mandataire effectue la formalité
            </li>
          </ul>
        </div>
        <div style="padding: 20px">
          <%= link_to 'Commencer mes démarches', new_article_my_guide_path(article_id: @article.id), class: 'btn btn-small' %>
        </div>
      </div>

    </div>

    <div class="container3">
        <div class="title1">
            <h1 style="font-size: 40px;">Aller plus loin: Les plateformes de freelances</h1>
        </div>

        <div class="align">
        <%= link_to "https://www.cremedelacreme.io", class: "navbar-brand", target: "_blank" do %>
          <%= image_tag "creme.jpg", style: "width: 67px;" %>
        <% end %>
        <p></p>
        </div>
        <div class="content1">
          <strong>Crème de la crème</strong> est une plateforme qui met en relation des entreprises avec des freelances experts du digital pour des missions diverses. Crème de la crème se démarque par son processus de sélection rigoureux des freelances, garantissant la qualité des profils proposés aux entreprises, ainsi que par son approche centrée sur les compétences et l'expertise des freelances.
        </div>

        <div class="align">
        <%= link_to "https://www.malt.fr", class: "navbar-brand", target: "_blank" do %>
          <%= image_tag "malt.jpg", style: "width: 67px;" %>
        <% end %>
        <p></p>
        </div>
        <div class="content1">
          <strong>Malt</strong> offre un large réseau de freelances qualifiés dans divers secteurs, offrant aux entreprises un accès à une variété d'experts pour leurs projets. Ce qui distingue Malt, c'est ses outils de gestion de projet intégrés qui facilitent le travail indépendant et la réalisation de projets professionnels de haute qualité. Les freelances bénéficient également d'une visibilité accrue grâce à une plateforme bien établie, ce qui leur permet de trouver plus facilement des opportunités de collaboration avec des entreprises de toutes tailles. Ils proposent aussi des outils en ligne facilitant les tâches administratives.
        </div>

        <div class="align">
        <%= link_to "https://www.upwork.com", class: "navbar-brand", target: "_blank" do %>
          <%= image_tag "upwork.jpeg", style: "width: 67px;" %>
        <% end %>
        <p></p>
        </div>
        <div class="content1">
          <strong>Upwork</strong> est une plateforme en ligne qui met en relation des freelances et des entreprises du monde entier pour des projets de toutes tailles. Avec une vaste gamme de catégories, notamment le développement web, le design, la rédaction, le marketing et bien plus encore, Upwork offre aux entreprises un accès à un pool mondial de talents. Les freelances peuvent trouver des opportunités de travail variées et collaborer avec des clients internationaux, ce qui en fait une plateforme idéale pour ceux qui recherchent de la flexibilité et des opportunités d'expansion.
        </div>

<div class="align">
        <%= link_to "https://www.comeup.com", class: "navbar-brand", target: "_blank" do %>
          <%= image_tag "comeup.jpg", style: "width: 67px;" %>
        <% end %>
        <p></p>
        </div>
        <div class="content1">
          <strong>Comeup</strong> est une plateforme innovante qui vise à connecter les entreprises avec des talents émergents et créatifs. Contrairement aux plateformes traditionnelles, Comeup se concentre sur la découverte de nouveaux talents et sur la mise en valeur de leur créativité. Les entreprises peuvent découvrir et collaborer avec des freelances talentueux qui apportent une touche unique à leurs projets. Avec une approche axée sur l'exploration et la diversité des talents, Comeup offre une expérience de mise en relation dynamique et stimulante pour les entreprises à la recherche de nouvelles perspectives créatives.
        </div>

      </div>



    <%= link_to 'Éditer', edit_article_path(@article), class: 'btn btn-small outline', style: 'background-color: $gh-purple'  %>
    <%= button_to "Supprimer cet article", @article, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-small danger'%>

  </body>
