<!-- app/views/my_guides/_form.html.erb -->

<% form_object = @my_guide.new_record? ? [@article, @my_guide] : @my_guide %>

<%= simple_form_for form_object do |f| %>
  <div class="my-guide-content">
    <h2 class="bold-xxl">I.  Mes démarches URSSAF</h2>
    <h3 class="bold-xl">1. Création de l'entreprise</h3>
    <div class="step-card column" data-controller="edit-step">
      <div class="step-infos" >
        <h4 class="semi-bold-xl">Identité de l'entreprise</h4>
        <button aria-label="Edit step" type="button" data-action="click->edit-step#toggleForm">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="bloc-form d-none" data-edit-step-target="form" data-controller='progress-bar'>

          <div class="form-label-input">
            <%= f.input :article_id, as: :hidden, input_html: { value: @article.id } %>
          </div>
          <div class="form-label-input" data-progress-bar-target="test">
            <%= f.input :business_structure, collection: MyGuide.business_structures.values, label: "Quelle est la forme de l'entreprise que vous souhaitez créer ?*", prompt: "Selectionne une forme parmi la liste", input_html: { data: {progress_bar_target: "input1"}, class: 'custom-select' } %>
          </div>
          <div class="form-label-input">
            <%= f.input :is_micro_entrepreneur, as: :radio_buttons,
                      collection: [[true, 'Oui'], [false, 'Non']],
                      label_method: :last, value_method: :first,
                      label: "L'entreprise bénéficie-t-elle du statut micro-entrepreneur ?*",
                      include_blank: false %>
          </div>
          <div class="form-label-input">
            <%= f.input :is_business_extension, as: :radio_buttons,
                      collection: [[true, 'Oui'], [false, 'Non']],
                      label_method: :last, value_method: :first,
                      label: "Extension d'une entreprise étrangère ou d'une entreprise établie dans les territoires d'Outre-mer (COM)",
                      include_blank: false %>
          </div>
          <div class="form-label-input">
            <%= f.input :has_previous_self_employment,as: :radio_buttons,
                      collection: [[true, 'Oui'], [false, 'Non']],
                      label_method: :last, value_method: :first,
                      label: "L'entrepreneur a-t-il déjà exercé une activité non salariée en France ?",
                      include_blank: false %>
          </div>



      </div>
    </div>
    <div class="step-card" data-controller="edit-step">
      <div class="step-infos" >
        <h4 class="semi-bold-xl">Identité de l'entrepreneur</h4>
         <button aria-label="Edit movie" type="button" data-action="click->edit-step#toggleForm">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>


      <div class="bloc-form d-none" data-edit-step-target="form">

            <%= f.simple_fields_for :user do |user_form| %>
              <div class="form-label-input">
                <%= user_form.input :first_name, label: "Prénom",  input_html: { value: @user.first_name } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :last_name, label: "Nom",  input_html: { value: @user.last_name } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :birthday, as: :date,
                            start_year: @user.birthday.try(:year) || Date.today.year - 30,
                            end_year: Date.today.year - 18,
                            default: { day: @user.birthday.try(:day) || Date.today.day, month: @user.birthday.try(:month) || Date.today.month, year: @user.birthday.try(:year) || Date.today.year - 30 },
                            order: [:day, :month, :year],
                            label: "Date de naissance" %>
              </div>

              <div class="form-label-input">
                <%= user_form.input :email, label: "Adresse mail",  input_html: { value: @user.email } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :gender, label: "Genre", collection: User.genders.values,
                default: @user.gender,
                input_html: { class: 'custom-select' } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :nationality, label: "Nationalité",  input_html: { value: @user.nationality } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :occupation, label: "Occupation",  input_html: { value: @user.occupation } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :address, label: "Address",  input_html: { value: @user.address } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :phone_number, label: "Social Security Number",  input_html: { value: @user.phone_number } %>
              </div>
            <% end %>

      </div>

    </div>

    <div class="step-card" data-controller="edit-step">
      <div class="step-infos" >

        <button aria-label="Edit movie" type="button" data-action="click->edit-step#toggleForm">
          <h4 class="semi-bold-xl">
          </h4>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="bloc-form d-none" data-edit-step-target="form">

          <div class="form-label-input">
            <%= f.input :representative_role, label: "Rôle du mandataire (représentant) intervenant dans la gestion de l'entreprise", prompt: "Selectionne un rôle", collection: MyGuide.representative_roles.values %>
          </div>
          <div class="form-label-input">
            <%= f.input :representative_type, collection: ["Personne Morale", "Personne Physique"], label: "Type de personne", prompt: "Selectionne un type de personne" %>
          </div>


      </div>
      <div class="divider1"></div>
    </div>





  </div>
<%= f.button :submit, "Sauvegarder My Guide", class: "btn btn-medium" %>
 <% end %>

<div class="mb-5 pb-5">
  <div class="row justify-content-center mb-5">
    <div class="col-lg-12 order-lg-1">
      <div class="card shadow mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Identité de l'entreprise
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <nav class="nav nav-pills flex-column">
                          <a class="nav-link ms-3 my-1" href="#item-1-1">Quelle est la forme de l'entreprise que vous souhaitez créer ?</a>
                          <a class="nav-link ms-3 my-1" href="#item-1-2">L'entreprise bénéficie-t-elle du statut micro-entrepreneur ?</a>
                          <a class="nav-link ms-3 my-1" href="#item-1-3">Extension d'une entreprise étrangère ou d'une entreprise établie dans les territoires d'Outre-mer (COM)</a>
                          <a class="nav-link ms-3 my-1" href="#item-1-4">L'entrepreneur a-t-il déjà exercé une activité non salariée en France ?</a>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Identité de l'entrepreneur
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <nav class="nav nav-pills flex-column">
                          <a class="nav-link ms-3 my-1" href="#item-2-1">Prénom</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-2">Nom</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-3">Date de naissance</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-4">Adresse mail</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-5">Genre</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-6">Nationalité</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-7">Profession</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-8">Adresse</a>
                          <a class="nav-link ms-3 my-1" href="#item-2-9">N° de téléphone</a>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Composition
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <nav class="nav nav-pills flex-column">
                          <a class="nav-link ms-3 my-1" href="#item-3-1">Rôle du mandataire (représentant) intervenant dans la gestion de l'entreprise</a>
                          <a class="nav-link ms-3 my-1" href="#item-3-2">Type de personne</a>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>

            <div class="col-8">
              <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0" style="height: 500px; overflow-y: scroll;">
                <% form_object = @my_guide.new_record? ? [@article, @my_guide] : @my_guide %>

                <%= simple_form_for form_object do |f| %>
                  <div id="item-1">
                    <h4>Identité de l'entreprise</h4>
                  </div>
                  <div id="item-1-1">
                    <div class="step step0" data-edit-step-target="step0">
                      <div class="step-content">
                        <div class="form-label-input">
                          <%= f.input :article_id, as: :hidden, input_html: { value: @article.id } %>
                        </div>
                        <div class="form-label-input">
                          <%= f.input :business_structure, collection: MyGuide.business_structures.values, label: "Quelle est la forme de l'entreprise que vous souhaitez créer ?*", prompt: "Selectionne une forme parmi la liste", input_html: { class: 'custom-select', data: {progress_bar_target: "input1", action: "progress-bar#first_input"} } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="item-1-2">
                    <div class="form-label-input">
                      <%= f.input :is_micro_entrepreneur, as: :radio_buttons,
                                collection: [[true, 'Oui'], [false, 'Non']],
                                label_method: :last, value_method: :first,
                                label: "L'entreprise bénéficie-t-elle du statut micro-entrepreneur ?*",
                                include_blank: false, input_html: { data: {progress_bar_target: "input2", action: "progress-bar#second_input"} } %>
                    </div>
                  </div>
                  <div id="item-1-3">
                    <div class="form-label-input">
                      <%= f.input :is_business_extension, as: :radio_buttons,
                                collection: [[true, 'Oui'], [false, 'Non']],
                                label_method: :last, value_method: :first,
                                label: "Extension d'une entreprise étrangère ou d'une entreprise établie dans les territoires d'Outre-mer (COM)",
                                include_blank: false, input_html: { data: {progress_bar_target: "input3", action: "progress-bar#third_input"} } %>
                    </div>
                  </div>
                  <div id="item-1-4">
                    <div class="form-label-input">
                      <%= f.input :has_previous_self_employment, as: :radio_buttons,
                                collection: [[true, 'Oui'], [false, 'Non']],
                                label_method: :last, value_method: :first,
                                label: "L'entrepreneur a-t-il déjà exercé une activité non salariée en France ?",
                                include_blank: false, input_html: { data: {progress_bar_target: "input4", action: "progress-bar#fourth_input"} } %>
                    </div>
                  </div>
                  <div id="item-2">
                    <h4>Identité de l'entrepreneur</h4>
                  </div>
                  <div id="item-2-1">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :first_name, label: "Prénom", input_html: { value: @user.first_name, data: {progress_bar_target: "input5", action: "progress-bar#fifth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-2">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :last_name, label: "Nom", input_html: { value: @user.last_name, data: {progress_bar_target: "input6", action: "progress-bar#sixth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-3">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :birthday, as: :date,
                            start_year: @user.birthday.try(:year) || Date.today.year - 30,
                            end_year: Date.today.year - 18,
                            default: { day: @user.birthday.try(:day) || Date.today.day, month: @user.birthday.try(:month) || Date.today.month, year: @user.birthday.try(:year) || Date.today.year - 30 },
                            order: [:day, :month, :year],
                            label: "Date de naissance", input_html: { data: {progress_bar_target: "input7", action: "progress-bar#seventh_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-4">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :email, label: "Adresse mail", input_html: { value: @user.email, data: {progress_bar_target: "input8", action: "progress-bar#eighth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-5">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :gender, label: 'Genre', collection: User.genders.values, prompt: 'Choisissez un genre', input_html: { data: {progress_bar_target: "input9", action: "progress-bar#ninth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-6">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :nationality, label: "Nationalité", input_html: { value: @user.nationality, data: {progress_bar_target: "input10", action: "progress-bar#tenth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-7">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :profession, label: "Profession", input_html: { value: @user.occupation, data: {progress_bar_target: "input11", action: "progress-bar#eleventh_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-8">
                    <h5>Adresse</h5>
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :address, label: "Adresse", input_html: { value: @user.address, data: {progress_bar_target: "input12", action: "progress-bar#twelfth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-2-9">
                    <div class="form-label-input">
                      <%= f.simple_fields_for :user do |user_form| %>
                        <%= user_form.input :phone_number, label: "N° de téléphone", input_html: { value: @user.phone_number, data: {progress_bar_target: "input13", action: "progress-bar#thirteenth_input"} } %>
                      <% end %>
                    </div>
                  </div>
                  <div id="item-3">
                    <h4>Composition</h4>
                  </div>
                  <div id="item-3-1">
                    <div class="form-label-input">
                      <%= f.input :representative_role, label: "Rôle du mandataire (représentant) intervenant dans la gestion de l'entreprise", input_html: { data: {progress_bar_target: "input14", action: "progress-bar#fourteenth_input"} } %>
                    </div>
                  </div>
                  <div id="item-3-2">
                    <div class="form-label-input">
                      <%= f.input :representative_type, collection: ["Personne Morale", "Personne Physique"], label: "Type de personne", prompt: "Selectionne un type de personne", input_html: { data: {progress_bar_target: "input15", action: "progress-bar#fifteenth_input"} } %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gh-body" data-controller='progress-bar'>
  <div class="my-guide-section">
    <div class= "my-guide-heading">
      <h1 class="bold-heading-xxl"><%= @article.title %></h1>
      <h3 class="bold-xl">Ton guide personnalisé pour t'accompagner dans tes démarches</h3>
    </div>
    <div><div class="app-card mb-3" tabindex="-1"><div class="row"><div class="col-12"><p>Les champs suivis d'une étoile (<strong class="text-danger text-large">*</strong>) sont obligatoires.</p><p>Remplissez l'ensemble des champs obligatoires de chaque section, puis validez la création de votre entreprise.</p><div class="d-flex mt-2 mb-0"></div></div></div></div></div>
    <div class="container mx-auto">
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar color-progression" style="width: 0%" data-progress-bar-target="bar"></div>
      </div>
    </div>
    <%= render "my_guides/form/form", my_guide: @my_guide %>
    <div>
      <%= link_to "Retourner sur l'article", @article %> |
      <%# <%= link_to @article.sub_category[:name], sub_category_articles_path%>
    </div>

  </div>
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Identité de l'entreprise</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Identité de l'entrepreneur</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Composition</button>
  </li>
</ul>


  <div class="steps-form">
    <% form_object = @my_guide.new_record? ? [@article, @my_guide] : @my_guide %>
    <%= simple_form_for form_object do |f| %>
      <div>
        <%= f.input :article_id, as: :hidden, input_html: { value: @article.id } %>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <%= render "my_guides/form/step0", my_guide: @my_guide, f: f %>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <%= render "my_guides/form/step0", my_guide: @my_guide, f: f %>
            <%# <%= render "my_guides/form/step1", my_guide: @my_guide, f: f %>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            <%# <%= render "my_guides/form/step2", my_guide: @my_guide, f: f %>
            <%= render "my_guides/form/step0", my_guide: @my_guide, f: f %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
