<!-- app/views/my_guides/_form.html.erb -->
<%= simple_form_for [@article, @my_guide] do |f| %>
  <div class="my-guide-content">
    <h2 class="bold-xxl">I.  Mes démarches URSSAF</h2>
    <h3 class="bold-xl">1. Création de l'entreprise</h3>
    <div class="step-card column" data-controller="edit-step">
      <div class="step-infos" >
        <h4 class="semi-bold-xl">Identité de l'entreprise</h4>
        <button aria-label="Edit step" type="button" data-action="click->edit-step#toggleForm">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="bloc-form d-none" data-edit-step-target="form" data-controller='progress-bar'>

          <div class="form-label-input">
            <%= f.input :article_id, as: :hidden, input_html: { value: @article.id } %>
          </div>
          <div class="form-label-input" data-progress-bar-target="test">
            <%= f.input :business_structure, collection: MyGuide.business_structures.values, label: "Quelle est la forme de l'entreprise que vous souhaitez créer ?*", prompt: "Selectionne une forme parmi la liste", input_html: { data: {progress_bar_target: "input1"}, class: 'custom-select' } %>
          </div>
          <div class="form-label-input">
            <%= f.input :is_micro_entrepreneur, as: :radio_buttons,
                      collection: [[true, 'Oui'], [false, 'Non']],
                      label_method: :last, value_method: :first,
                      label: "L'entreprise bénéficie-t-elle du statut micro-entrepreneur ?*",
                      include_blank: false %>
          </div>
          <div class="form-label-input">
            <%= f.input :is_business_extension, as: :radio_buttons,
                      collection: [[true, 'Oui'], [false, 'Non']],
                      label_method: :last, value_method: :first,
                      label: "Extension d'une entreprise étrangère ou d'une entreprise établie dans les territoires d'Outre-mer (COM)",
                      include_blank: false %>
          </div>
          <div class="form-label-input">
            <%= f.input :has_previous_self_employment,as: :radio_buttons,
                      collection: [[true, 'Oui'], [false, 'Non']],
                      label_method: :last, value_method: :first,
                      label: "L'entrepreneur a-t-il déjà exercé une activité non salariée en France ?",
                      include_blank: false %>
          </div>



      </div>
    </div>
    <div class="step-card" data-controller="edit-step">
      <div class="step-infos" >
        <h4 class="semi-bold-xl">Identité de l'entrepreneur</h4>
         <button aria-label="Edit movie" type="button" data-action="click->edit-step#toggleForm">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>


      <div class="bloc-form d-none" data-edit-step-target="form">

            <%= f.simple_fields_for :user do |user_form| %>
              <div class="form-label-input">
                <%= user_form.input :first_name, label: "Prénom",  input_html: { value: @user.first_name } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :last_name, label: "Nom",  input_html: { value: @user.last_name } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :birthday, as: :date,
                            start_year: @user.birthday.try(:year) || Date.today.year - 30,
                            end_year: Date.today.year - 18,
                            default: { day: @user.birthday.try(:day) || Date.today.day, month: @user.birthday.try(:month) || Date.today.month, year: @user.birthday.try(:year) || Date.today.year - 30 },
                            order: [:day, :month, :year],
                            label: "Date de naissance" %>
              </div>

              <div class="form-label-input">
                <%= user_form.input :email, label: "Adresse mail",  input_html: { value: @user.email } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :gender, label: "Genre", collection: User.genders.values,
                default: @user.gender,
                input_html: { class: 'custom-select' } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :nationality, label: "Nationalité",  input_html: { value: @user.nationality } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :occupation, label: "Occupation",  input_html: { value: @user.occupation } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :address, label: "Address",  input_html: { value: @user.address } %>
              </div>
              <div class="form-label-input">
                <%= user_form.input :phone_number, label: "Social Security Number",  input_html: { value: @user.phone_number } %>
              </div>
            <% end %>

      </div>

    </div>

    <div class="step-card" data-controller="edit-step">
      <div class="step-infos" >

        <button aria-label="Edit movie" type="button" data-action="click->edit-step#toggleForm">
          <h4 class="semi-bold-xl">
          </h4>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
      <div class="bloc-form d-none" data-edit-step-target="form">

          <div class="form-label-input">
            <%= f.input :representative_role, label: "Rôle du mandataire (représentant) intervenant dans la gestion de l'entreprise" %>
          </div>
          <div class="form-label-input">
            <%= f.input :representative_type, collection: ["Personne Morale", "Personne Physique"], label: "Type de personne", prompt: "Selectionne un type de personne" %>
          </div>


      </div>
      <div class="divider1"></div>
    </div>





  </div>
<%= f.button :submit, "Sauvegarder My Guide", class: "btn btn-medium" %>
 <% end %>
