<!-- views/my_guides/summary.html.erb -->

<div class="my-guide-summary">
  <%= link_to "⬅️ Retourner sur l'article", @article, class: "mb-2" %>
  <h2 class="bold-xxl mt-4">Récapitulatif de Mes Démarches URSSAF</h2>

  <div class= "container-global">


    <div class= "summary-recap">

      <section class="summary-section">
        <h3 class="bold-xl">Identité de l'entreprise</h3>
        <p><strong>Forme de l'entreprise:</strong> <%= @my_guide.business_structure %></p>
        <p><strong>Statut micro-entrepreneur:</strong> <%= @my_guide.is_micro_entrepreneur ? 'Oui' : 'Non' %></p>
        <p><strong>Extension d'entreprise étrangère:</strong> <%= @my_guide.is_business_extension ? 'Oui' : 'Non' %></p>
        <p><strong>Activité non salariée préalable en France:</strong> <%= @my_guide.has_previous_self_employment ? 'Oui' : 'Non' %></p>
      </section>

      <section class="summary-section">
        <h3 class="bold-xl">Identité de l'entrepreneur</h3>
        <p><strong>Prénom:</strong> <%= @user.first_name %></p>
        <p><strong>Nom:</strong> <%= @user.last_name %></p>
        <p><strong>Date de naissance:</strong> <%= @user.birthday.present? ? l(@user.birthday, format: :long) : 'Non spécifiée' %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Genre:</strong> <%= @user.gender %></p>
        <p><strong>Occupation:</strong> <%= @user.occupation %></p>
        <p><strong>Adresse:</strong> <%= @user.address %></p>
        <p><strong>Ville:</strong> <%= @user.city %></p>
        <p><strong>Code postal:</strong> <%= @user.zip_code %></p>
        <p><strong>Pays:</strong> <%= @user.country %></p>
        <p><strong>Numéro de téléphone:</strong> <%= @user.phone_number %></p>
      </section>

      <section class="summary-section">
        <h3 class="bold-xl">Composition</h3>
        <p><strong>Rôle du mandataire:</strong> <%= @my_guide.representative_role %></p>
        <p><strong>Type de personne:</strong> <%= @my_guide.representative_type %></p>
      </section>
        <div class="actions">
          <%= link_to 'Éditer', edit_my_guide_path(@my_guide, article_id: @my_guide.article.id), class: 'btn btn-small' %>

          <%= link_to 'Télécharger', download_my_guide_path(@my_guide), target: "_blank", class: 'btn btn-secondary' %>
        </div>

    </div>

    <div class= "container-right">
      <%= image_tag 'telechargement_reussi.svg' %>
      <section class="summary-reminders">
      <h3><%= link_to "Mes rappels", user_path(@user) %></h3>
          <% @reminders.each do |reminder| %>
            <div class="reminder-content">
            <tr>
              <div class= "reminder-title">
                <td><%= reminder.title %></td>
              </div>
              <div class="reminder-date">
                <td><%= reminder.start_time.strftime('%Y-%m-%d %H:%M') %></td>
              </div>
            </tr>
          </div>
        <% end %>
      </section>
    </div>
  </div>


</div>
