<div class="container-m3 p-4rem">

  <div class="container-banner">
    <%= image_tag("avatar/cat.png", class: "avatar-bordered", alt: "avatar") %> <!-- This will display the user's avatar -->
    <h1 class="title xl"><%= @user.first_name %>, <%= @user.last_name %></h1>
  </div>
  <!-- User's Personal Information Card -->
  <div class="profile-tab">
    <div class="banner-profile">
      <!-- Personal Information Section -->

      <div class="header">

        <h2 class="subtitle-xl text-brand">Mes informations</h2>
        <div class="container">
          <p class="regular-l"> <i class="fa-solid fa-briefcase me-2"></i><strong> Occupation : </strong><%= @user.occupation %></p>
          <p class="regular-l"> <i class="fa-solid fa-envelope me-2"></i><strong> Email : </strong><%= @user.email %></p>
          <p class="regular-l"><i class="fa-solid fa-cake-candles me-2"></i><strong> Date de naissance : </strong> <%= l(@user.birthday, format: "%d %B %Y") %></p>
          <p class="regular-l"><i class="fa-solid fa-location-dot me-2"></i><strong> Adresse : </strong><%= @user.address %> <%= @user.city %> <%=  @user.zip_code%></p>
          <p class="regular-l"><i class="fa-solid fa-globe me-2"></i><strong> Pays : </strong> <%= @user.country %></p>
          <p class="regular-l"><i class="fa-solid fa-square-phone me-2"></i><strong> N° de téléphone : </strong> <%= @user.phone_number %></p>
          <div class="divider1 mb-3 mt-4"></div>
          <%= link_to edit_user_path, class: 'btn btn-outline' do %>
            <i class="fa-solid fa-user-pen me-2"></i> Éditer
          <% end %>
        </div>
      </div>

      <!-- Decorative Image Section -->
      <div class="illustration">
        <%= image_tag 'img_infos.svg', class: 'responsive-image' %>
      </div>

    </div>
  </div>

  <div class="profile-tab">
    <div class="banner-profile">
      <div class="header">
        <h2 class="subtitle-xl text-brand">Mes démarches</h2>
        <div class="container">
          <div class="text-start gap-3">
            <div class="pb-2">
              <h3 class="bold-xl mb-2">Formulaire en cours</h3>
              <% if @my_guide.user_id.present? %>
                  <% <h5 class="regular-l"><i class="fa-solid fa-arrow-up-right-from-square me-2"></i> <%= link_to 'Mon formulaire',summary_my_guide_path(@my_guide)</h5> %>
              <% end %>
            </div>
            <h3 class="bold-xl mt-4">Articles récemment consultés</h3>
            <div class="regular-l mb-4">
              <% if @previews_articles.empty? %>
                <p>Pas d'articles consultés</p>
              <% else %>
                <% Article.where(id: @previews_articles).each do |preview_article| %>
                  <%= link_to preview_article.title, article_path(preview_article) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="illustration">
        <%= image_tag 'img_procedures.svg', class: 'responsive-image' %>
      </div>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-reminder-tab" data-bs-toggle="tab" data-bs-target="#nav-reminder" type="button" role="tab" aria-controls="nav-reminder" aria-selected="true">Mes tâches</button>
      <button class="nav-link" id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" type="button" role="tab" aria-controls="nav-calendar" aria-selected="false">Mon calendrier</button>
      <button class="nav-link" id="nav-calendar-tab" data-bs-target="#nav-calendar" type="button" aria-selected="false"><%= link_to 'Nouvelle tâche ', new_my_guide_reminder_path(my_guide_id: @my_guide.id), class: 'btn btn-small' %></button>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-reminder" role="tabpanel" aria-labelledby="nav-reminder-tab" tabindex="0">
      <%= render "reminders/kanban", reminder: @reminder %>
    </div>
    <div class="tab-pane fade" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab" tabindex="0">
      <%= render "simple_calendar/show", reminders: @reminders, end_attribute: :end_time %>
    </div>
  </div>

</div>
