<div class="container">

  <div class="row mt-4 mb-4">
    <h2><%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar", style:"width: 125px" %>
    <%= "Mon profil" %></h2>
  </div>

  <div class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(procedures_path) %>">
        <%= link_to "Mes démarches", procedures_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(documents_path) %>">
        <%= link_to "Mes documents", documents_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(user_path) %>">
        <%= link_to "Mes informations personnelles", user_path, class: "text-primary nav-link" %>
      </li>
    </ul>
  </div>

  <div class="divider pt-1" style="height:30px"><div class="line" style="width:1320px; height:2px"></div></div>
</div>

<div class="banner-infos">
  <div class=container>
    <h1><strong>Mes informations personnelles</strong></h1>
    <%= image_tag "infos.png" %>
  </div>
</div>

<div class="container">

  <div class="row mb-3"> <p style="display:inline"><strong>Prénom et nom :</strong> <%= @user.first_name %> <%= @user.last_name %> </p> </div>

  <div class="row"> <p style="display:inline"><strong>Email :</strong> <%= @user.email %> </p> </div>

  <div class="divider pt-1"><div class="line" style="width:700px; height:2px"></div></div>

  <div class="row"> <p style="display:inline"><strong>Métier :</strong> <%= @user.occupation %> </p> </div>

  <div class="divider pt-1"><div class="line" style="width:700px; height:2px"></div></div>

  <div class="row mb-3"> <p style="display:inline"><strong>Adresse :</strong> <%= @user.address %> </p> </div>

  <div class="row mb-3"> <p style="display:inline"><strong>Date de naissance :</strong> <%= @user.birthday %> </p> </div>

  <div class="row mb-3"> <p style="display:inline"><strong>Genre :</strong> <%= t(@user.gender) %> </p> </div>

  <div class="row mb-3"> <p style="display:inline"><strong>Nationalité :</strong> <%= @user.nationality %> </p> </div>

  <div class="row"> <p style="display:inline"><strong>Sécurité sociale :</strong> <%= @user.social_security %> </p> </div>

  <div class="divider pt-1"><div class="line" style="width:700px; height:2px"></div></div>

  <%= link_to "Modifier", edit_user_path, class: 'btn btn-small', style:"position: absolute; top: 700px; left: 1420px" %>
  <%= link_to 'Précédent', :back, class: 'btn btn-small' %>

</div>

<div class="container p-3" style="position: absolute; top: 820px; left: 1080px; width: 430px">
  <h3>Articles récemment consultés</h3>
  <div class="row">
    <% if @previews_articles.empty? %>
      <p>Pas d'articles consultés</p>
    <% else %>
      <% Article.where(id: @previews_articles).each do |preview_article| %>
        <%= link_to preview_article.title, article_path(preview_article) %>
      <% end %>
    <% end %>
  </div>
</div>
