<h2 class="ms-5 mt-3"><%= @user.first_name %> <%= @user.last_name %></h2>

<div class="row">
  <div class="m-3"> <p style="display:inline"><strong>Email :</strong> <%= @user.email %> </p> </div>

  <div class="m-3"> <p style="display:inline"><strong>Métier :</strong> <%= @user.occupation %> </p> </div>

  <div class="m-3"> <p style="display:inline"><strong>Adresse :</strong> <%= @user.address %> </p> </div>

  <div class="m-3"> <p><strong>Date de naissance :</strong> <%= @user.birthday %> </p> </div>

  <div class="m-3"> <p><strong>Nationalité :</strong> <%= @user.nationality %> </p> </div>

  <div class="m-3"> <p><strong>Sécurité sociale :</strong> <%= @user.social_security %> </p> </div>

</div>

<%= link_to "Modifier", edit_user_path, class: 'btn btn-small' %>

<div class="p-3" style="position: fixed; top: 135px; right: 195px">
  <h3>Articles récemment consultés</h3>
    <% Article.where(id: @previews_articles).each do |preview_article| %>
      <%= link_to preview_article.title %>
    <% end %>
</div>

<%= link_to 'Précédent', :back, class: 'btn btn-small' %>

<div class="calendar-container">
  <%= month_calendar(events: @reminders, end_attribute: :end_time) do |date, reminders| %>
    <%= date %>

    <% reminders.each do |reminder| %>
      <div class="reminder">
        <p><%= reminder.title %></p>
        <small><%= reminder.time unless reminder.multi_days? %></small>
      </div>
    <% end %>
  <% end %>
</div>
