<div class="navbar navbar-expand-sm navbar-light navbar-guh">

  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "brand_logo.svg" %>
    <% end %>
    <div class= "brand_heading">GrownUp Hack</div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "btn btn-small outline", style: "margin-right: 5px" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", user_path(current_user.id), class: "btn btn-small", style: "margin-right: 5px" %>
          </li>
          <li class="nav-item">
            <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-small" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Créer un compte", "#", class: "btn btn-small outline", style: "margin-right: 5px" %>
          </li>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "btn btn-small" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
