<div  class="index">
  <div class="gh_section">
    <div class="row justify-content-center">
    <h1><%= @category.name %><h1>
    <h2>  Nos guides et articles t'accompagnent à chaque étape, comme des cartes au trésor te menant vers le succès dans ton voyage professionnel. </h2>
      <div class="col-sm-8 my-3">
        <%= form_with url: category_sub_categories_path(@category), method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a keyword" %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="list-card">
      <div class="section">
        <% if @sub_categories.any? %>
          <% @sub_categories.each_slice(3) do |sub_category_group| %>
          <div class="section-row">
              <% sub_category_group.each do |sub_category| %>
                  <%= link_to sub_category_path(sub_category, category_id: @category.id), class: "subcategory-card-link" do %>
                    <%= render "sub_category_card", sub_category: sub_category %>
                  <% end %>
              <% end %>
          </div>
            <div class="divider">
                <div class="line"></div>
            </div>
          <% end %>
        <% else %>
          <p class="no-result">Aucun résultat</p>
        <% end %>
      </div>
    </div>

    <div>
      <%= link_to "Retour à la liste des catégories", categories_path, class: "btn btn-small" %>
    </div>
  </div>
</div>
