
<div class="row justify-content-center">
  <main class="col-lg-8 order-lg-1">
    <h1 class="title py-2 mt-4 text-center">Connexion</h1>
    <section class="card shadow pt-3 m-5" aria-labelledby="loginForm">
      <div class="card-body px-5 py-4">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}, html: { role: 'form', aria: {label: 'Login form'} } ) do |f| %>
          <fieldset>
            <legend class="visually-hidden">User Credentials</legend>
            <%= f.input :email,
                        required: true,  # Changed from false to true for better form validation
                        autofocus: true,
                        input_html: { autocomplete: "email", 'aria-label': 'Email Address' },
                        wrapper_html: { class: 'form-group' },
                        label_html: { class: 'form-label' } %>
            <%= f.input :password,
                        label: 'Mot de passe',
                        required: true,  # Changed from false to true for better form validation
                        input_html: { autocomplete: "current-password", 'aria-label': 'Password' },
                        wrapper_html: { class: 'form-group' },
                        label_html: { class: 'form-label' } %>
            <% if devise_mapping.rememberable? %>
              <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean, wrapper_html: { class: 'checkbox' }, input_html: { 'aria-label': 'Remember me' } %>
            <% end %>
          </fieldset>
          <div class="form-actions">
            <%= f.button :submit, "Se connecter", class: "btn btn-small w-100 mb-3", aria: {label: 'Log in button'} %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </main>
</div>
