<!DOCTYPE html>
<html>
  <head>
    <title><%= "GrownUp Hack - astuces pour la vie d'adulte" %></title>
    <%= favicon_link_tag "favicon.ico", rel:"icon", type:"image.ico" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
    <meta name="description" content="<%= "Votre plateforme de référence pour des conseils sur la vie adulte, des conseils de carrière et des ressources de développement personnel." %>">


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= "GrownUp Hack - astuces pour la vie d'adulte" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= "https://www.grownuphack.com/" %>" />
    <meta property="og:image" content="https://www.grownuphack.com/assets/brand_logo-6fe31b1814d5d1a9e32a74fc2dbcfd81c3105283f536c9328e714a0d085e8286.svg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="<%= "Votre plateforme de référence pour des conseils sur la vie adulte, des conseils de carrière et des ressources de développement personnel." %>" />
    <meta property="og:site_name" content="<%= "GrownUp Hack - astuces pour la vie d'adulte" %>" />
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%# <%= render "shared/flashes" %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
